button {
    @include box-shadow;
    background: $linear;
    border-radius: 20px;
    width: fit-content;
    color: white;
    border: none;
    margin: 20px;
    padding: 10px 15px 10px 15px;
    transition: all 300ms;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
