footer {
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 1em;
    line-height: 1.5em;
}
footer a {
    text-decoration: none;
    color: white;
}

.footer__logo {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 5px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

footer ul i {
    padding-left: 0;
}

footer i {
    padding-right: 15px;
}
