body {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    display: flex;
}

.loc {
    background-color: #d5dbdb;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loc i {
    padding-right: 15px;
}

.réservation {
    background-color: #f8f9f9;
    text-align: center;
    padding: 20px 35px;
    h2 {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 1.5em;
    }
}

h2 {
    margin: 15px;
}

.fonctionnement h2 {
    margin-top: 30px;
    margin-left: 20px;
}

.fonctionnement__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    i {
        padding-right: 15px;
        padding-left: 20px;
    }
}

.fonctionnement .module {
    background-color: #f8f9f9;
    &:hover {
        background-color: #f0d3fa;
        color: $primary;
    }
}

.restaurant h2 {
    margin-top: 30px;
    margin-left: 20px;
}

.restaurants {
    background-color: #f8f9f9;
    padding: 10px 20px 30px 20px;
}

.restaurant__body {
    background-color: white;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #969696;
}

.img1 {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.restaurant__description {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 10px 15px;
}

.description--bold {
    font-weight: bold;
}

.like {
    display: flex;
    justify-content: center;

    &:hover {
        color: $primary;
    }
}

.img2 {
    width: 100%;
}

.restaurant__banniere {
    z-index: 1;
}

.menu {
    z-index: 10;
    margin-top: -36px;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__cards {
        width: 100%;
    }
    button {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.restaurant__banniere--description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 30px 10px 20px;
    background-color: white;
}

.module {
    @include box-shadow;
    border-radius: 15px;
    margin: 0 20px 15px 20px;
    padding: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
}
