@mixin box-shadow {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

@mixin module {
    @include box-shadow;
    border-radius: 15px;
    margin: 0 10px 15px 10px;
    display: flex;
    cursor: pointer;
    max-width: 100%;
}
