@import "libs/reset.scss";

$primary: #9356dc;
$second: #ff79da;
$third: #99e2d0;

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Thin.ttf");
  src: url("./fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand/Shrikhand-Regular.ttf");
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  font-family: "Roboto";
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.logo {
  width: 250px;
}

.loc {
  background-color: #d5dbdb;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.loc i {
  padding-right: 15px;
}

.réservation {
  background-color: #f8f9f9;
  text-align: center;
  padding: 30px;

  h2 {
    padding-left: 35px;
    padding-right: 35px;
  }
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
}

button {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  border: none;
  margin: 20px;
  padding: 10px 15px 10px 15px;
  transition: all 300ms;
  &:hover {
    background-color: lig;
  }
}

.fonctionnement h2 {
  margin-top: 30px;
  margin-left: 20px;
}

.fonctionnement__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fontionnement__catégories {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #808080;
  margin: 0 30px 15px 30px;
  padding: 10px;
}

.fontionnement__catégories i {
  padding-right: 15px;
  padding-left: 20px;
  font-size: 0.8em;
}

.restaurant h2 {
  margin-top: 30px;
  margin-left: 20px;
}

.restaurants {
  background-color: #f8f9f9;
  padding: 10px 20px 30px 20px;
}

.restaurant__body {
  background-color: white;
  margin: 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #d9d9d9;
}

.img1 {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.restaurant__description {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 15px;
}

.description--bold {
  font-weight: bold;
}

.like {
  display: flex;
  justify-content: center;

  &:hover {
    color: $primary;
  }
}

footer {
  padding-left: 20px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

.footer__logo {
  width: 100px;
  padding-top: 20px;
  padding-bottom: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

footer ul i {
  padding-left: 0;
}

footer i {
  padding-right: 15px;
}

.img2 {
  width: 100%;
}

.restaurant__banniere {
  z-index: 1;
}

.main__menu {
  z-index: 10;
  background-color: white;
  margin-top: -36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.restaurant__banniere--description {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 15px;
  border-radius: 20px;
  font-family: "Shrikhand";
}

section h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 20px 0 10px 10px;
}

.module {
  border-radius: 10px;
  box-shadow: 1px 1px 12px #808080;
  margin: 0 10px 15px 10px;
  padding: 10px;
}

.prix {
  font-size: 1.2em;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: space-between;
}

.bouton {
  width: 100%;
  padding: auto;
}
