.loadingpage {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader 2s ease-in-out 1s 1 normal forwards;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 6.25rem;
    height: 6.25rem;
    display: inline-block;
    border-radius: 3.125rem;
    border: 0.625rem solid transparent;
    border-top-color: $primary;
    border-bottom-color: $primary;
    animation: spin 1s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    bottom: 0.625rem;
    right: 0.625rem;
    border-radius: 3.125rem;
    border: 0.5rem solid transparent;
    border-top-color: $second;
    border-bottom-color: $second;
    animation: spinreverse 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate (0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinreverse {
    0% {
        transform: rotate (0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -10;
    }
}
