button {
    @include box-shadow;
    background: $linear;
    border-radius: 1.25rem;
    width: fit-content;
    color: white;
    border: none;
    margin: 1.25rem;
    padding: 0.625rem 0.95rem 0.625rem 0.95rem;
    transition: all 300ms;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 0rem 0.0625rem 0.31rem rgba(0, 0, 0, 1);
    }
}
