footer {
    padding-left: 20px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}
footer a {
    text-decoration: none;
    color: white;
}

.footer__logo {
    width: 6.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0.31rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

footer ul i {
    padding-left: 0;
}

footer i {
    padding-right: 0.95rem;
    width: 1.875rem;
}
