@media screen and (min-width: 620px) and (max-width: 1024px) {
    .fonctionnement__list {
        display: flex;
        flex-direction: row;
    }

    .fonctionnement__module {
        width: 31% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
    }

    .restaurant {
        width: 47%;
        margin: 0.625rem auto !important;
    }
}

@media screen and (min-width: 1025px) {
    .fonctionnement {
        margin: 0.625rem;
    }

    .fonctionnement__list {
        display: flex;
        flex-direction: row;
    }

    .fonctionnement__module {
        width: 31% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .restaurants__cards {
        display: flex;
        flex-wrap: wrap;
    }

    .restaurant {
        width: 23%;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .menu__cards {
        display: flex;
        flex-direction: row;
    }

    .modulemenu {
        width: 33%;
    }
}
