body {
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.logo {
    width: 150px;
    display: flex;
}

.loc {
    background-color: #d5dbdb;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.loc i {
    padding-right: 0.95rem;
}

input {
    background-color: #d5dbdb;
    border: none;
}

.réservation {
    background-color: #f8f9f9;
    text-align: center;
    padding: 1.25rem 2.1875rem;
    h2 {
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;
        font-size: 1.5em;
    }
}

h2 {
    margin: 0.95rem;
}

.fonctionnement {
    h2 {
        margin-top: 1.875rem;
        margin-left: 1.25rem;
    }

    &__list {
        margin-top: 1.25rem;
        justify-content: center;
        i {
            padding-right: 0.95rem;
            padding-left: 1.25rem;
            flex-direction: column;
            display: flex;
            justify-content: center;
        }
    }
    &__module {
        @include module;
        background-color: #f8f9f9;
        padding: 0.625rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        &:hover {
            background-color: #f0d3fa;
            color: $primary;
        }
    }
}

li p {
    color: white;
    border-radius: 100%;
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -1.125rem;
    position: absolute;
    background-color: $primary;
}

.restaurant h2 {
    margin-top: 1.875rem;
    margin-left: 1.25rem;
}

.restaurants {
    background-color: #f8f9f9;
    padding: 0.625rem 1.25rem 1.875rem 1.25rem;
}

.restaurant {
    @include box-shadow;
    background-color: white;
    margin: 0.625rem;
    overflow: hidden;
    border-radius: 1.25rem;
    cursor: pointer;
    position: relative;
    &__nouveau {
        background-color: $third;
        padding: 0.25rem 0.625rem;
        border-radius: 0.19rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }

    &__description {
        display: flex;
        justify-content: space-between;
        padding: 0.31rem 1.25rem 0.625rem 0.95rem;
    }

    &__banniere {
        z-index: 1;
    }

    &__banniere--description {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1.875rem 1.875rem 0.625rem 1.25rem;
        background-color: white;
    }
}

.img1 {
    width: 100%;
    height: 12.5rem;
    border-radius: 0.625rem 0.625rem 0 0;
    object-fit: cover;
}

.description--bold {
    font-weight: bold;
    display: inline-block;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.img2 {
    width: 100%;
    max-height: 12.5rem;
    object-fit: cover;
}

.menu {
    z-index: 10;
    margin-top: -2.25rem;
    border-radius: 1.875rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__cards {
        width: 100%;
    }
    button {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
}

.menu__cards h2 {
    position: relative;
    padding-bottom: 0.4375rem;
    &::after {
        content: "";
        width: 3.125rem;
        height: 0.19rem;
        background-color: $third;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.prix {
    display: block;
    align-self: flex-end;
    padding: 1.0625rem 1.5625rem 1.25rem 0.625rem;
}

.description {
    display: inline-block;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.check {
    margin-right: -4.375rem;
    width: 4.375rem;
    background-color: $third;
    display: flex;
    justify-content: center;
    height: 4.375rem;
    overflow: hidden;
    i {
        color: white;
        display: flex;
        align-self: center;
    }
}

.cards {
    padding: 0.625rem 0rem 0.625rem 0.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
