@mixin box-shadow {
    box-shadow: 0rem 0.125rem 0.31rem rgba($color: #818080, $alpha: 0.4);
}

@mixin module {
    @include box-shadow;
    max-height: 5rem;
    border-radius: 0.95rem;
    margin: 0 0.625rem 0.95rem 0.625rem;
    display: flex;
    cursor: pointer;
    overflow: hidden;
}
